---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import InfoMain from '../components/InfoMain.astro'
import Servicios from '../components/Servicios.astro';
import Proyectos from '../components/Proyectos.astro';
import Contacto from '../components/Contacto.astro';
---

<Layout title="Bretema">
	<main class="space-y-20 mb-20">
		<Main />
		<InfoMain />
		<Servicios />
		<Proyectos />
		<Contacto />
	</main>
</Layout>