---
import Container from "./Container.astro";
---

<header class="w-full justify-center flex max-xl:mt-0">
  <nav class="z-10 w-[100%] h-[150px] fixed bg-white">
    <Container>
      <div
        class="max-w-[1200px] px-12 xl:px-0 m-auto w-full py-11 flex justify-between items-center max-sm:px-5 max-md:justify-center max-md:items-center max-md:flex-col max-md:py-5"
      >
      <a href="/">
        <svg
          width="177"
          height="50"
          viewBox="0 0 177 50"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 42.0003H13.4588V32.499C13.4588 30.4853 15.0898 28.8543 17.1035 28.8543C19.1172 28.8543 20.7482 30.4853 20.7482 32.499V42.0003H33.9975V8C15.2211 8 0 23.2211 0 42.0003Z"
            fill="#CDA274"
          ></path>
          <text
            x="40"
            y="42" 
            fill="#292F36"
            font-family="Urbanist, sans-serif"
            font-size="35"
          >
            Bretema
          </text>
        </svg>
      </a>
      <nav class="flex flex-row gap-6 mt-5">
          <a href="#home" class="text-xl leading-6 font-jost text-primary-200 max-sm:text-sm"
            >Inicio</a
          ><a href="#servicios" class="text-xl leading-6 font-jost text-primary-200 max-sm:text-sm"
            >Servicios</a
          ><a
            href="#proyectos"
            class="text-xl leading-6 font-jost text-primary-200 max-sm:text-sm"
            >Proyectos</a
          ><a
            href="#contacto"
            class="text-xl leading-6 font-jost text-primary-200 max-sm:text-sm"
            >Contacto</a>
        </nav>
      </div>
    </Container>
  </nav>
</header>
<style>
  #toggle_nav:checked ~ div #hamburger #line {
    @apply rotate-45 translate-y-1.5;
  }

  #toggle_nav:checked ~ div #hamburger #line2 {
    @apply -rotate-45 -translate-y-1;
  }
</style>
