---
import Container from "./Container.astro";
---

<div class="w-full">
  <Container>
    <section
      class="lg:max-w-[1200px] flex flex-col gap-8 lg:gap-10 lg:flex-row px-12 xl:px-0 w-full mx-auto justify-between"
      data-astro-cid-j7pv25f6=""
    >
      <div
        class="w-full max-w-[358px] mx-auto flex flex-col justify-center items-center gap-3 md:gap-5"
        data-astro-cid-j7pv25f6=""
      >
        <h3
          class="text-text-blue font-dm text-[22px] md:text-[25px] leading-loose"
          data-astro-cid-j7pv25f6=""
        >
          Madera & Piedra
        </h3><p
          class="text-base md:text-[22px] tracking-tight font-jost text-text-gray leading-[33px] text-center"
          data-astro-cid-j7pv25f6=""
        >
          Edificaciones duraderas, eficientes energeticamente, saludables
        </p><a
          href="/services"
          class="text-text-gray-200 leading-snug text-lg tracking-tight font-jost font-semibold gap-2 py-4 md:py-8 startCenter"
          data-astro-cid-j7pv25f6=""
          >Leer más <svg
            width="19"
            height="17"
            viewBox="0 0 19 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M2 8.43536L15.7232 8.29851M10.6182 1.91132L17.1412 8.4343L10.4868 15.0887"
              stroke="#CDA274"
              stroke-width="2"
              stroke-linecap="square"
              stroke-linejoin="round"></path></svg
          ></a
        >
      </div><div
        class="w-full max-w-[358px] mx-auto flex flex-col justify-center items-center gap-3 md:gap-5"
        data-astro-cid-j7pv25f6=""
      >
        <h3
          class="text-text-blue font-dm text-[22px] md:text-[25px] leading-loose"
          data-astro-cid-j7pv25f6=""
        >
          Casas de madera
        </h3><p
          class="text-base md:text-[22px] tracking-tight font-jost text-text-gray leading-[33px] text-center"
          data-astro-cid-j7pv25f6=""
        >
          Casas de entramado, casas de troncos, innovadoras
        </p><a
          href="/services"
          class="text-text-gray-200 leading-snug text-lg tracking-tight font-jost font-semibold gap-2 py-4 md:py-8 startCenter"
          data-astro-cid-j7pv25f6=""
          >Leer más <svg
            width="19"
            height="17"
            viewBox="0 0 19 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M2 8.43536L15.7232 8.29851M10.6182 1.91132L17.1412 8.4343L10.4868 15.0887"
              stroke="#CDA274"
              stroke-width="2"
              stroke-linecap="square"
              stroke-linejoin="round"></path></svg
          ></a
        >
      </div><div
        class="w-full max-w-[358px] mx-auto flex flex-col justify-center items-center gap-3 md:gap-5"
        data-astro-cid-j7pv25f6=""
      >
        <h3
          class="text-text-blue font-dm text-[22px] md:text-[25px] leading-loose"
          data-astro-cid-j7pv25f6=""
        >
        Cocinas & Baños
        </h3><p
          class="text-base md:text-[22px] tracking-tight font-jost text-text-gray leading-[33px] text-center"
          data-astro-cid-j7pv25f6=""
        >
        Electricidad, fontanería, viviendas, 
        edificios
        </p><a
          href="/services"
          class="text-text-gray-200 leading-snug text-lg tracking-tight font-jost font-semibold gap-2 py-4 md:py-8 startCenter"
          data-astro-cid-j7pv25f6=""
          >Leer más <svg
            width="19"
            height="17"
            viewBox="0 0 19 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M2 8.43536L15.7232 8.29851M10.6182 1.91132L17.1412 8.4343L10.4868 15.0887"
              stroke="#CDA274"
              stroke-width="2"
              stroke-linecap="square"
              stroke-linejoin="round"></path></svg
          ></a
        >
      </div>
    </section>
  </Container>
</div>
