---
import Container from "./Container.astro";
---

<div class="w-full" id="home">
  <Container>
    <section
      class="rounded-bl-[200px] w-full bg-hero bg-no-repeat bg-cover h-screen lg:min-h-[110vh] px-12 xl:px-0 flex items-center"
      data-astro-cid-j7pv25f6=""
    >
      <div
        class="lg:max-w-[1200px] w-full mx-auto flex flex-col"
        data-astro-cid-j7pv25f6=""
      >
        <h1
          class="text-[40px] leading-[50px] md:text-[60px] xl:text-[85px] pb-4 font-dm md:leading-[90.25px] w-full xl:max-w-[50%] text-primary-200"
          data-astro-cid-j7pv25f6=""
        >
          Haz que tu hogar sea único
        </h1><p
          class="text-base md:text-[22px] pb-5 font-jost text-text-gray-200 w-full lg:max-w-[50%]"
          data-astro-cid-j7pv25f6=""
        >
          Construcción ecoeficiente bioclimática cuarenta años de experiencia 
          trabajando con la madera en fábrica, taller y muchas obras.
        </p><button
          class="rounded-[18px] flex capitalize items-center justify-center gap-[9px] w-fit text-white text-base lg:text-lg font-semibold font-['Jost'] leading-snug tracking-tight px-10 py-5 md:px-[54px] md:py-[26px] bg-primary-200"
          type="button"
          >Contáctanos<svg
            width="19"
            height="17"
            viewBox="0 0 19 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M2 8.43536L15.7232 8.29851M10.6182 1.91132L17.1412 8.4343L10.4868 15.0887"
              stroke="#CDA274"
              stroke-width="2"
              stroke-linecap="square"
              stroke-linejoin="round"></path></svg
          ></button>
      </div>
    </section>
  </Container>
</div>