---
import Container from "./Container.astro";
---

<div class="w-full" id="proyectos">
  <Container>
    <section
      class="lg:max-w-[1200px] px-12 xl:px-0 w-full mx-auto pt-[80px] lg:pt-[80px]"
      data-astro-cid-j7pv25f6=""
    >
      <h2
        class="font-dm tracking-wide text-center leading-[37px] lg:leading-[62.50px] text-[30px] lg:text-[50px] w-full lg:max-w-[50%] pb-2 mx-auto"
        data-astro-cid-j7pv25f6=""
      >
        Proyectos Destacados
      </h2><p
        class="text-base md:text-[22px] text-center tracking-tight font-jost text-text-gray leading-[33px] lg:max-w-[60%] mx-auto"
        data-astro-cid-j7pv25f6=""
      >
        Explora nuestras creaciones más impresionantes y descubre cómo
        transformamos ideas en realidades.
      </p><div
        class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-x-[104px] lg:gap-y-[56px] mt-12 lg:mt-[93px]"
        data-astro-cid-j7pv25f6=""
      >
        <div class="w-full flex flex-col gap-4" data-astro-cid-j7pv25f6="">
          <img src="/project1.png" alt="" data-astro-cid-j7pv25f6="" /><p
            class="flex flex-col tracking-tight leading-9"
            data-astro-cid-j7pv25f6=""
          >
            <span
              class="text-primary-200 text-lg lg:text-[25px] font-dm"
              data-astro-cid-j7pv25f6="">Cocina Moderna</span
            ><span
              class="text-text-gray-200 text-base lg:text-lg font-jost"
              data-astro-cid-j7pv25f6="">Hecho por Brétema</span
            >
          </p>
        </div><div
          class="w-full flex flex-col gap-4"
          data-astro-cid-j7pv25f6=""
        >
          <img src="/project2.png" alt="" data-astro-cid-j7pv25f6="" /><p
            class="flex flex-col tracking-tight leading-9"
            data-astro-cid-j7pv25f6=""
          >
            <span
              class="text-primary-200 text-lg lg:text-[25px] font-dm"
              data-astro-cid-j7pv25f6="">Habitación Moderna</span
            ><span
              class="text-text-gray-200 text-base lg:text-lg font-jost"
              data-astro-cid-j7pv25f6="">Hecho por Brétema</span
            >
          </p>
        </div><div
          class="w-full flex flex-col gap-4"
          data-astro-cid-j7pv25f6=""
        >
          <img src="/project3.png" alt="" data-astro-cid-j7pv25f6="" /><p
            class="flex flex-col tracking-tight leading-9"
            data-astro-cid-j7pv25f6=""
          >
            <span
              class="text-primary-200 text-lg lg:text-[25px] font-dm"
              data-astro-cid-j7pv25f6="">Despacho Simple Moderno</span
            ><span
              class="text-text-gray-200 text-base lg:text-lg font-jost"
              data-astro-cid-j7pv25f6="">Hecho por Brétema</span
            >
          </p>
        </div><div
          class="w-full flex flex-col gap-4"
          data-astro-cid-j7pv25f6=""
        >
          <img src="/project4.png" alt="" data-astro-cid-j7pv25f6="" /><p
            class="flex flex-col tracking-tight leading-9"
            data-astro-cid-j7pv25f6=""
          >
            <span
              class="text-primary-200 text-lg lg:text-[25px] font-dm"
              data-astro-cid-j7pv25f6="">Salón Moderno</span
            ><span
              class="text-text-gray-200 text-base lg:text-lg font-jost"
              data-astro-cid-j7pv25f6="">Hecho por Brétema</span
            >
          </p>
        </div>
      </div>
    </section>

    <section
      class="w-full bg-primary-300 px-12 xl:px-0 mx-auto mt-[80px] lg:mt-[80px] py-[151px] max-md:hidden"
      data-astro-cid-j7pv25f6=""
    >
      <div
        class="w-full max-w-[1200px] mx-auto flex lg:justify-center items-center"
        data-astro-cid-j7pv25f6=""
      >
        <astro-island
          uid="O8qr6"
          prefix="r6"
          component-url="/_astro/experience.1fdd3b53.js"
          component-export="default"
          renderer-url="/_astro/client.4fbc8a11.js"
          props='{"text":[0,"Years Of Experiance"],"num":[0,12],"i":[0,0],"data-astro-cid-j7pv25f6":[0,true]}'
          client="load"
          opts='{"name":"Experience","value":true}'
          await-children=""
          ><div
            class="flex min-w-[243px] flex-col border-r border-primary-100 items-center justify-center gap-4"
          >
            <h5
              class="text-primary-100 text-[50px] lg:text-[85px] tracking-widest leading-[70px] font-dm lg:leading-[106.25px]"
            >
              +40
            </h5><p
              class="text-text-gray-200 text-base text-center lg:text-lg font-jost tracking-tight lg:leading-9"
            >
              Años de Experiencia
            </p>
          </div></astro-island
        ><astro-island
          uid="1tK52j"
          prefix="r7"
          component-url="/_astro/experience.1fdd3b53.js"
          component-export="default"
          renderer-url="/_astro/client.4fbc8a11.js"
          props='{"text":[0,"Success Project"],"num":[0,85],"i":[0,1],"data-astro-cid-j7pv25f6":[0,true]}'
          client="load"
          opts='{"name":"Experience","value":true}'
          await-children=""
          ><div
            class="flex min-w-[243px] flex-col border-r border-primary-100 items-center justify-center gap-4"
          >
            <h5
              class="text-primary-100 text-[50px] lg:text-[85px] tracking-widest leading-[70px] font-dm lg:leading-[106.25px]"
            >
              +500
            </h5><p
              class="text-text-gray-200 text-base text-center lg:text-lg font-jost tracking-tight lg:leading-9"
            >
              Proyectos Completados
            </p>
          </div></astro-island
        ><astro-island
          uid="Zs1c4K"
          prefix="r8"
          component-url="/_astro/experience.1fdd3b53.js"
          component-export="default"
          renderer-url="/_astro/client.4fbc8a11.js"
          props='{"text":[0,"Active Project"],"num":[0,15],"i":[0,2],"data-astro-cid-j7pv25f6":[0,true]}'
          client="load"
          opts='{"name":"Experience","value":true}'
          await-children=""
          ><div
            class="flex min-w-[243px] flex-col border-r border-primary-100 items-center justify-center gap-4"
          >
            <h5
              class="text-primary-100 text-[50px] lg:text-[85px] tracking-widest leading-[70px] font-dm lg:leading-[106.25px]"
            >
              +10
            </h5><p
              class="text-text-gray-200 text-base text-center lg:text-lg font-jost tracking-tight lg:leading-9"
            >
              Proyectos Activos
            </p>
          </div></astro-island
        ><astro-island
          uid="Zo3fo3"
          prefix="r9"
          component-url="/_astro/experience.1fdd3b53.js"
          component-export="default"
          renderer-url="/_astro/client.4fbc8a11.js"
          props='{"text":[0,"Happy Customers"],"num":[0,95],"i":[0,3],"data-astro-cid-j7pv25f6":[0,true]}'
          client="load"
          opts='{"name":"Experience","value":true}'
          await-children=""
          ><div
            class="flex min-w-[243px] flex-col border-primary-100 items-center justify-center gap-4"
          >
            <h5
              class="text-primary-100 text-[50px] lg:text-[85px] tracking-widest leading-[70px] font-dm lg:leading-[106.25px]"
            >
              +500
            </h5><p
              class="text-text-gray-200 text-base text-center lg:text-lg font-jost tracking-tight lg:leading-9"
            >
              Clientes Satisfechos
            </p>
          </div></astro-island>
      </div>
    </section>
  </Container>
</div>
